.customScrollbar {
  overflow-x: visible;
  overflow-y: hidden;
}

.customScrollbar::-webkit-scrollbar {
  height: 5px;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

/* text-xs */
.button {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* text-sm */
@media (min-width: 375px) {
  .button {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* text-base */
@media (min-width: 896px) {
  .button {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
